<section data-ng-controller="OrganisationsController" data-ng-init="findOne()">
	<form class="form-horizontal col-md-6" role="form" data-ng-submit="update()">
		<div class="form-group">
			<label for="name" class="col-md-2 control-label">Name</label>
			<div class="col-md-10">
				<input type="text" data-ng-model="name" id="name" placeholder="Name" class="form-control" required></input>
			</div>
		</div>
		<div class="form-group">
			<label for="url" class="col-md-2 control-label">URL</label>
			<div class="col-md-10">
				<input type="text" data-ng-model="url" id="url" placeholder="URL" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="sector" class="col-md-2 control-label">Sector</label>
			<div class="col-md-10">
				<input type="text" data-ng-model="sector" id="sector" placeholder="Sector" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="logo_url" class="col-md-2 control-label">Logo</label>
			<div class="col-md-10">
				<input type="text" data-ng-model="logo_url" id="logo_url" placeholder="Logo" class="form-control" required></input>
				UPLOAD LOGO
			</div>
		</div>
		<div class="form-group">
			<label for="twitter_username" class="col-md-2 control-label">Twitter Username</label>
			<div class="col-md-10">
				<input type="text" data-ng-model="twitter_username" id="twitter_username" placeholder="Twitter Name" class="form-control" required></input>
			</div>
		</div>
		<div class="form-group">
			<label for="facebook_url" class="col-md-2 control-label">Facebook URL</label>
			<div class="col-md-10">
				<input type="text" data-ng-model="facebook_url" id="facebook_url" placeholder="Facebook URL" class="form-control" required></input>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</section>